[flake8]
exclude =
    */docs/*,
    */env/*,
    */.tox/*,
    */.venv/*,
    */.pycharm_helpers/*,
    */migrations/*,
    docs/*,
    fabfile.py,
    */__init__.py,
    django_project/core/settings/*.py,
    django_project/*/tests/*.py,
    django_project/*/test_*.py,
    django_project/frontend/node_modules/*,
    env/*

max-line-length = 120

# Only valid codes allowed here
ignore = E125,E126,E251,E303,W504,F405,E501,E225,E231,E302,E722,F401,F811,F841,W391
