{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/im.png' %}" alt="Logo" width="100" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}"><strong>Home</strong></a>
        </li>
        
        <li class="nav-item dropdown">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_profile' %}"><strong>Profile</strong></a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_cart'  %}"><strong>View Cart</strong></a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'show_order_list' %}"><strong>Order History</strong></a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_view' %}"><strong>Logout</strong></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}"><strong>Login</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><strong>SignUp</strong></a>
                </li>
            {% endif %}
        </ul>
        </li>
         
        <!-- Categories Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Categories</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <li><a class="dropdown-item" href="{% url 'product_list_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex" action="{% url 'show_product' %}" method="get">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>